@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      font-family: 'Montserrat', sans-serif;
  }
}

html,
body {
  background: #252525;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}